{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block page_head %}
    <link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
    <div class="container" id="invitation-body">
        <section class="col-md-6 text-center">
            <div class="invitation-details">
            {% with "save-the-date/images/"|add:main_image as main_static_url %}
                <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
                     alt=""
                     style="display: block; padding: 0; color: #666666; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;"
                     class="img-max" border="0"
                     height="auto" width="500">
            {% endwith %}
            </div>
        </section>
        <section class="col-md-6 text-center">
            <div class="invitation-details with-border">
                <h2 class="text-center">{{ invitation.event.name }}</h2>
                <div class="clearfix"></div>
                <dl class="dl-horizontal lead">
                        <dt>{% trans "When" %}</dt>
                        <dd>{{ invitation.event.date }}</dd>
                        <dt>{% trans "Where" %}</dt>
                        <dd>
                                {% trans "Murrayshall Country House Hotel" %}<br>
                                {% trans "Murrayshall Rd, Scone, Perth PH2 7PH, UK" %}
                        </dd>
                        <dd>
                                {% trans "Please visit" %} <a href="{{ SITE_URL }}">{{ SITE_URL }}</a> {% trans "for more info." %}
                        </dd>
                    </dl>
            </div>
        </section>
        <section class="col-md-6">
        <form data-toggle="validator" class="invitation-details with-border form-horizontal" method="post">
            <h2 id="rsvp-header" class="text-center">{% trans "RSVP" %}</h2>
            {% if rsvps|length == 0 %}
            <p>{% trans "Please RSVP by February 2020" %}</p>
            {% endif %}
            <div class="clearfix"></div>
            {% csrf_token %}
            {% for guest in party.ordered_guests.all %}
            <div class="form-group" data-is-child="{{ guest.is_child }}">
                {% with 'attending-'|add:guest.unique_id as attending_label %}
                <label for="{{ attending_label }}" class="col-sm-3 control-label">{{ guest.name }}</label>
                <label class="radio-inline">
                    <input class="attending-radio" type="radio" name="{{ attending_label }}" value="yes" {% if guest.is_attending %}checked="checked"{% endif %} required> {% trans "will attend" %}
                </label>
                <label class="radio-inline">
                    <input class="attending-radio" type="radio" name="{{ attending_label }}" value="no" {% if guest.is_attending == False %}checked="checked"{% endif %} required> {% trans "will not attend" %}
                </label>
                {% endwith %}
            </div>
            {% if not guest.is_child %}
            <div class="form-group">
                {% with 'meal-'|add:guest.unique_id as meal_label %}
                <label for="{{ meal_label }}" class="col-sm-3 control-label">... {% trans "and will eat" %}</label>
                {% for meal_id, meal_name in meals %}
                <label class="radio-inline">
                    <input type="radio" name="{{ meal_label }}" id="{{ meal_label }}-yes" value="{{ meal_id }}" {% if guest.meal == meal_id %}checked="checked"{% endif %} {% if guest.is_attending == False %}disabled{% endif %} required> {{ meal_name }}
                </label>
                {% endfor %}
                {% endwith %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="form-group col-sm-12">
                <input type="text" name="comments" class="form-control" placeholder='{% trans "Questions/comments/well wishes" %}' >
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value='{% trans "Submit Response" %}' />
                </div>
            </div>
        </form>
        </section>
    </div>
{% endblock %}
{% block page_js %}
    <script src="{% static 'validator.js' %}"></script>
    <script>
    $(function () {
        // enable/disable meal choices based on attendance
        $("input.attending-radio").change(function (e) {
            var target = $(e.target);
            if (target.closest('.form-group').data('is-child') === "True") {
                // don't attempt to update meals for children, who don't have them.
                return;
            }
            var value = target.attr('value');
            var mealButtonContainer = target.closest('.form-group').next('.form-group');
            var mealButtons = mealButtonContainer.find('[type=radio]');
            if (value === 'yes') {
                mealButtonContainer.removeClass('text-muted');
                mealButtons.each(function (index, button) {
                    button.disabled = false;
                    button.required = true;
                });
            } else if (value === "no") {
                mealButtonContainer.addClass('text-muted');
                mealButtons.each(function (index, button) {
                    button.checked = false;
                    button.disabled = true;
                    button.required = false;
                });
            }
            // reload validation
            $(document.forms[0]).validator('destroy');
            $(document.forms[0]).validator();
        });
    });
    </script>
{% endblock %}
