{% extends 'guests/email_templates/email_base.html' %}
{% load staticfiles %}
{% block header_image %}{% endblock %}
{% block lead_copy %}
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" align="center">
                <tbody>
                <tr>
                    <td align="center" class="padding-copy"
                        style="font-size: 14px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666;"
                        align="center">
                        {% if name == 'scotland' %}
                        To: {{ party_name }}
                        {% else %}
                        Para: {{ party_name }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% if email_mode %}{{ SITE_URL }}{% endif %}{% url 'invitation' invitation_id %}" target="_blank"
                           style="font-size: 16px;
                           font-family: Helvetica, Arial, sans-serif;
                           color: #ffffff;
                           text-decoration: none;
                           border-radius: 4px;
                           -webkit-border-radius: 4px;
                           -moz-border-radius: 3px;
                           display: block;
                           background-color: #6c5f90;
                           padding: 6px 12px;
                           border-color: #554d69;
                           margin: 10px auto;
                           text-align: center;">
                            RSVP
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
{% endblock %}
{% block main_image %}
    {% with "save-the-date/images/"|add:main_image as main_static_url %}
    <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
         alt=""
         style="display: block; padding: 0; color: #666666;"
         class="img-max" border="0"
         height="512" width="512">
    {% endwith %}
{% endblock %}
{% block footer_content %}
    Please <a href="{% if email_mode %}{{ SITE_URL }}{% endif %}{% url 'invitation' invitation_id %}">view the invitation online</a> to rsvp.<br>
    {% if email_mode %}
        <p><a href="{{ SITE_URL }}">{{ SITE_URL }}</a></p>
    {% endif %}
{% endblock %}
