{% extends 'guests/email_templates/email_base.html' %}
{% load staticfiles %}
{% block header_image %}
<table class="responsive-table" align="center" border="0" width="500"
       cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td align="center">
            <table border="0" width="100%" cellpadding="0"]]
                   cellspacing="0">
                <tbody>
                <tr>
                    <td align="center" class="padding-copy"
                        style="font-size: 14px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666;"
                        align="center">
                      {% if name == 'scotland' %}
                      To: {{ party_name }}
                      {% else %}
                      Para: {{ party_name }}
                      {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
{% block main_image %}
    <a href="{{ SITE_URL }}"
       {% if email_mode %}target="_blank"{% endif %}>
    {% with "save-the-date/images/"|add:main_image as main_static_url %}
        <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
             alt=""
             style="display: block; padding: 0; color: #666666; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;"
             class="img-max" border="0"
             height="auto" width="500">
    {% endwith %}
    </a>
{% endblock %}
{% block main_copy %}
{% endblock %}
{% block footer_content %}
    <p>
    </p>
    {% if name == 'scotland' %}
    Please visit <a href="{{ SITE_URL }}">{{ SITE_URL }}</a> for more info.
    {% else %}
    Para más información visita <a href="{{ SITE_URL }}">{{ SITE_URL }}</a>.
    {% endif %}
    <p></p>
    {% if name == 'scotland' %}
    Can't make it? Let us know at <a class="moz-txt-link-abbreviated" href="mailto:{{ rsvp_address }}">{{ rsvp_address }}</a>.
    {% else %}
    ¿No puedes asistir? Escríbenos al <a class="moz-txt-link-abbreviated" href="mailto:{{ rsvp_address }}">{{ rsvp_address }}</a>.
    {% endif %}
    {% if email_mode %}
        <p><a href="{{ SITE_URL }}">{{ SITE_URL }}</a></p>
    {% endif %}
{% endblock %}
