{% extends 'guests/email_templates/email_base.html' %}
{% load staticfiles %}
{% block main_image %}
    <a href="http://danielandmaria.com"
       {% if email_mode %}target="_blank"{% endif %}>
    {% with "save-the-date/images/"|add:main_image as main_static_url %}
        <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
             alt=""
             style="display: block; padding: 0; color: #666666; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;"
             class="img-max" border="0"
             height="500" width="625">
    {% endwith %}
    </a>
{% endblock %}
{% block main_copy %}
{% endblock %}
{% block footer_content %}
    <p>
    </p>
    Please visit <a href="http://danielandmaria.com">http://danielandmaria.com</a> for more info.
    <p></p>
    Can't make it? Let us know at <a class="moz-txt-link-abbreviated" href="mailto:{{ rsvp_address }}">{{ rsvp_address }}</a>.
    {% if email_mode %}
        <p><a href="http://danielandmaria.com">http://danielandmaria.com</a></p>
    {% endif %}
{% endblock %}
