{% load i18n %}
<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">{% trans "Wedding" %}</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>{% trans "What" %}</dt>
                    <dd>{% trans "Join us to celebrate our marriage at Murrayshall House Hotel... expect some ceilidh dancing." %}</dd>
                    <dt>{% trans "When" %}</dt>
                    <dd>{% trans "Friday, May 1st, 2020, 2:00 pm" %}</dd>
                    <dt>{% trans "Where" %}</dt>
                    <dd>
                            {% trans "Murrayshall Country House Hotel" %}<br>
                            <a href="https://goo.gl/maps/sP9vfea2gXKWLQaW9" target="_blank">Murrayshall Rd, Scone, Perth PH2 7PH</a><br>
                            <div class="google-maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2206.8169579239516!2d-3.3728476841626627!3d56.41921798073685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48863bf0e7e975eb%3A0xee467ef6a2efdb5b!2sMurrayshall+Country+House+Hotel+%26+Golf+Club!5e0!3m2!1sen!2suk!4v1560698568012!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="ecuadorian-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">{% trans "Party" %}</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>{% trans "What" %}</dt>
                    <dd>{% trans "Ecuadorian food, drinks and hopefully a party bus, due to life and things we still have to define this." %}</dd>
                    <dt>{% trans "When" %}</dt>
                    <dd>{% trans "Saturday, July 11 2020" %}</dd>
                    <dt>{% trans "Where" %}</dt>
                    <dd>
                            {% trans "Somewhere in Guayaquil" %}<br>
                            <a href="https://goo.gl/maps/ARLuCiZ6oLNmSGN36" target="_blank">Guayaquil</a><br>
                            <div class="google-maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255168.21803495695!2d-80.12029267884898!3d-2.152380941032916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d13cbe855805f%3A0x8015a492f4fca473!2sGuayaquil%2C+Ecuador!5e0!3m2!1sen!2suk!4v1560719369767!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
