<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Night Welcome Party</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        Join us for a party at the base of Vail mountain.
                    </dd>
                    <dt>When</dt>
                    <dd>Saturday, August 31 at 6:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                            Express Lift<br>
                            <a href="https://goo.gl/maps/KqYJBRRmoK12">280 Vail Road</a><br>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Casual</dd>
                     <dt>Parking</dt>
                    <dd>Located right at the base of the mountain, Express lift is a short walk from anywhere in Vail Village.
                        If driving in, we recommend parking in
                        <a href="https://goo.gl/maps/UWzioey5hVy">Vail Village public parking lot</a><br>
                    <dt>Other info</dt>
                    <dd>
                        Remember you are at altitude, please drink responsibly. I'm talking to you, groomsmen :)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <!--
                    <dt>What</dt>
                    <dd>Celebrate our marriage at ....</dd>
                    -->
                    <dt>Ceremony </dt>
                    <dd>Sunday, September 1, at 12:30 pm</dd>
                    <dt>Where</dt>
                    <dd>
                            Vail Interfaith Chapel<br>
                            <a href="https://goo.gl/maps/HEt7dkdKotC2">19 Vail Road</a><br>
                    </dd>
                    <p></p>
                    <p></p>
                    <dt> Reception</dt>
                    <dd>Sunday, September 1, at 5:30 PM

                    <dt></dt>
                    <dd>
                            Donovan Pavilion <br>
                            <a href="https://goo.gl/maps/dbefdMbBLkS2">1600 S Frontage Rd W</a><br>
                    </dd>
                    <p></p>

                    <dt>Attire</dt>
                    <dd>Cocktail
                    </dd>
                    <dt>Transportation</dt>
                    <dd>Private wedding bus transportation is provided from The Lodge in Vail Village.
                        <!--
                        <ul>
                            <li><a href="https://goo.gl/maps/5gX1Hwb5syx">White Oaks</a>: <strong>3:30pm</strong>
                            <li><a href="https://goo.gl/maps/o8KTZQg51Mt">Hilton Garden Inn</a>: <strong>3:45pm</strong>
                            <li><a href="https://goo.gl/maps/9KcZQProDN12">Fort George</a> (Downtown Niagara-on-the-Lake): <strong>3:45pm</strong>
                        </ul>
                         -->

                    </dd>
                    <dt>Parking</dt>
                    <dd>Complimentary parking is available at the chapel ONLY during the ceremony. Please move your car after the ceremony to allow the next church service to find parking.
                        Complimentary parking is available on-site at Donovan's Pavilion overnight.</dd>
                    <p></p>
                    <dt>Afterwards</dt>
                    <dd>
                        Guests wishing to continue celebrating with Tori and Dan after after the reception can
                        head to the <a href="https://goo.gl/maps/6eEFMScJRTr">Red Lion</a>.
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</section>
