<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">Maupiti Summit with the Polynesia crew.</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
                God bless Daniel McKinnon. After three proposal attempts, all foiled by Tori,
                Dan proposed after a stressful day spent moving into their first apartment together.
                Dan frequently likes to relive the moment by proposing on random mountain tops.
                Good news, Tori has said yes every time.
            </p>
        </div>
    </div>
</section>
