{% load i18n %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">{% trans "Our Story" %}</h2>
            <hr class="primary">
            <p>
              {% blocktrans %}Daniel and Maria met while doing their Computer Science masters at Edinburgh University.
              They spoke for the first time after HCI class (whatever that acronym means), she had a funny hair
              and he had a funny accent.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}Their first date was on an early winter evening at the university’s Library Bar.
                Upstairs there was a jazz band playing, where they discovered a shared love of music and that neither of them can dance.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}In total they shared 3 Hogmanays in Edinburgh. But only visited the Street Party once, on that first
                New Year’s Eve together. At that street party they watched the fireworks on Frederick’s Street,
                next to the bus stop for the number 24 bus.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}After all the revising, and studying, and then graduating, they moved in together.
              They lived in Cochran Terrace for 2 years, almost in Edinburgh New Town.{% endblocktrans %}
            </p>
            <p>
              {% blocktrans %}Now they are in London, busy exploring this new massive city and wedding planning!{% endblocktrans %}
            </p>
        </div>
    </div>
</div>
