<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
               Contrary to the 'joke' Dan likes to share, we did not meet on Craigslist.
                We met on The League, a dating app in San Francisco.
                Dan was combing the Bay Area, hoping to secure a girlfriend by Q2 of 2016. Tori was simply
                hoping to keep her spot in The League for when she was good ready to meet someone and swiped right to stay active,
                a courtesy swipe, if you will. Low and behold, ski banter ensued and we agreed to meet.

            </p>
            <p>
                Dan journeyed from the land of Sperrys and frat (fraternity) stars (the Marina) all the way to the Haight
                for a first date. A second date followed fast--tennis in the Marina where Tori probably
                whooped Dan's butt. A full month passed before our third date as Tori was cracking oil in Vietnam and
                Dan was exploring Utah by motorcycle. Dan was prudent in his pursuit, sending
                novel-length updates daily.
            </p>
            <p>
                Finally, back in SF, the third, fourth and fifth date flew by within a few days.
                After watching the Blue Angels at SF Fleet week, Dan wasted NO time and asked Tori to
                be his girlfriend. The next day Dan was ready and waiting to run through
                <a href="https://www.nytimes.com/2015/01/11/fashion/no-37-big-wedding-or-small.html" target="_blank"> '36 Questions that Lead to Love'</a>
                from the NYT.  Dan has been leading us to love ever since and we can't wait to get
                married.
            </p>
        </div>
    </div>
</div>
